/*
 * Основной контейнер подвала.
 */
.hero-section1 {
    width: 1480px;
    height: 206px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    background: #292928;
    padding: 0 107px;
    box-sizing: border-box;
}
.hero-section1 .lawyer-card {
    display: flex;
    flex-direction: row;
    align-items: center;
}
.legal-info-block {
    padding-top: 4px;
    margin-left: 8px;
    color: white;
}
.legal-title-with-initials {
    font: 500 32px "Advent Pro", sans-serif;
    color: white;
    white-space: nowrap;
}
.lawyer-services-section {
    display: flex;
    flex-direction: row;
    gap: 70px;
}
.legal-services-card1,
.testimonial-section {
    display: flex;
    flex-direction: column;
    gap: 25px;
    align-items: flex-start;
}
.legal-services-card1 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.legal-expert-heading,
.legal-services-heading {
    margin: 0;
    font: 500 24px "Advent Pro", sans-serif;
    text-align: left;
    line-height: 1.2;
    text-decoration: none;
    color: #FFF;
}
.testimonial-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
}
.testimonial-heading,
.testimonial-header {
    margin: 0;
    font: 500 24px "Advent Pro", sans-serif;
    text-align: left;
    line-height: 1.2;
    text-decoration: none;
    color: #FFF;
}
.privacy-policy-section {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 15px;
    padding-right: 50px;
}
.legal-info-section.footer-links {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8px;
    padding-top: 13px;
}
.flex-image-container {
    display: flex;
    flex-direction: row;
    gap: 10px;
}
.box-image {
    width: 49px;
    height: 49px;
    object-fit: cover;
}
.footer-menu a {
    color: #FFF;
    text-decoration: none;
    transition: color 0.3s, background-color 0.3s, border-color 0.3s;
    border: 1px solid transparent;
    border-radius: 8px;
    padding: 5px 10px;
}
.footer-menu a:hover {
    background: linear-gradient(90deg, #E6CEAA 0%, #C8A27B 100%);
    color: #292928;
    text-decoration: none;
    border-color: #E6CEAA;
}
.footer-links a {
    background: linear-gradient(90deg, #E6CEAA 0%, #C8A27B 100%);
    -webkit-background-clip: text;
    color: transparent;
    text-decoration: none;
    transition: color 0.3s, text-decoration 0.3s;
    border: none;
    padding: 3px 8px;
}
.footer-links a:hover {
    color: white;
    text-decoration: underline;
}
